<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="shortcut icon" type="image/png" href="./img/favicon/fav.png" />
    <!-- css -->
    <link rel="stylesheet" href="./css/style.css">



</head>

<body>
    <div class="wrapper" style="height: 3000px;">
        <div id="page-loading">
            <img src="img/logo-header.png" alt="logo-header.png" />
        </div>
        <header class="header">
            <div class="header-top">
                <div class="container">
                    <div class="header-top-inner">

                    </div>
                </div>
            </div>
            <div class="header-bottom">
                <div class="container">
                    <div class="header-bottom-inner">
                        <div class="header-logo">
                            <a href="home.html">
                                <img src="./img/logo-header.png" alt="">
                            </a>
                        </div>
                        <div class="header-menu">
                            <div class="header-menu-inner">
                                <div class="logo-mobile">
                                    <a href="home.html">
                                        <img src="./img/logo-header.png" alt="logo-header.png">
                                    </a>
                                </div>
                                <ul class="header-list">
                                    <li class="current-menu-item">
                                        <a href="#">Job</a>
                                    </li>
                                    <li>
                                        <a href="#">Hire</a>
                                    </li>
                                    <li class="dropdown">
                                        <a href="#">Resource</a>
                                        <ul class="sub-menu">
                                            <li>
                                                <a href="#">test sub menu 1</a>
                                            </li>
                                            <li class="dropdown">
                                                <a href="#">test sub menu 1</a>
                                                <ul class="sub-menu">
                                                    <li>
                                                        <a href="#">test sub menu 2</a>
                                                    </li>
                                                    <li class="dropdown">
                                                        <a href="#">test sub menu2 </a>
                                                        <ul class="sub-menu">
                                                            <li>
                                                                <a href="#">test sub menu 3</a>
                                                            </li>
                                                            <li>
                                                                <a href="#">test sub menu 3</a>
                                                            </li>
                                                            <li>
                                                                <a href="#">test sub menu 3</a>
                                                            </li>
                                                            <li>
                                                                <a href="#">test sub menu 3</a>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                    <li>
                                                        <a href="#">test sub menu 2</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">test sub menu 2</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="#">test sub menu 1</a>
                                            </li>
                                            <li>
                                                <a href="#">test sub menu 1</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#">Blog</a>
                                    </li>
                                    <li class="dropdown">
                                        <a href="#">About us</a>
                                        <ul class="sub-menu">
                                            <li>
                                                <a href="#">test sub menu</a>
                                            </li>
                                            <li>
                                                <a href="#">test sub menu</a>
                                            </li>
                                            <li>
                                                <a href="#">test sub menu</a>
                                            </li>
                                            <li>
                                                <a href="#">test sub menu</a>
                                            </li>
                                            <li>
                                                <a href="#">test sub menu</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#">Contact us</a>
                                    </li>
                                </ul>
                                <div class="header-menu-socail">
                                    <a href="#" class="menu-socail socail-face">
                                        <i class="fa fa-facebook" aria-hidden="true"></i>
                                    </a>
                                    <a href="#" class="menu-socail socail-youtube">
                                        <i class="fa fa-youtube-play" aria-hidden="true"></i>
                                    </a>
                                    <a href="#" class="menu-socail socail-insta">
                                        <i class="fa fa-instagram" aria-hidden="true"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="overplay"></div>
                        </div>
                        <div class="header-search">
                            <!-- <form action="#" class="search-form">
                                <input type="text" class="f-control" placeholder="Tìm kiếm sản phẩm">
                                <button class="f-submit" type="submit">
                                    <i class="fa fa-search" aria-hidden="true"></i>
                                </button>
                            </form> -->
                            <div class="search-desktop">
                                <div class="search-title">
                                    <i class="fa fa-search" aria-hidden="true"></i>
                                </div>
                                <form action="#" class="search-form">
                                    <input type="text" class="f-control" placeholder="Tìm kiếm sản phẩm">
                                    <button class="f-submit" type="submit">
                                        <i class="fa fa-search" aria-hidden="true"></i>
                                    </button>
                                </form>
                            </div>
                            <div class="header-search-icon">
                                <i class="fa fa-search" aria-hidden="true"></i>
                            </div>
                        </div>
                        <div class="header-lang">
                            <div class="box-lang item-menu ">
                                <select class="vodiapicker">
                                    <option value="VN" class="test" data-thumbnail="img/VN.svg">VN
                                    </option>
                                    <option value="EN" data-thumbnail="img/VN.svg">EN
                                    </option>
                                </select>

                                <div class="lang-select">
                                    <button class="btn-select" value=""></button>
                                    <div class="lang-content">
                                        <ul id="a"></ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="header-cart">
                            <!-- cart-popup-big -->
                            <!-- <div class="cart-btn">
                                <p>Bag</p>
                                <div class="qty-cart">1</div>
                            </div> -->
                            <!-- cart-popup-small -->
                            <div class="cart-btn">
                                <img src="./img/icon-cart.png" alt="icon-cart.png">
                            </div>
                            <div class="cart-content">
                                <ul class="cart-list">
                                    <li class="cart-item">
                                        <div class="cart-close">
                                            <i class="fa fa-times-circle" aria-hidden="true"></i>
                                        </div>
                                        <div class="cart-img">
                                            <a href="#">
                                                <img src="./img/cart1.png" alt="cart1.png">
                                            </a>
                                        </div>
                                        <div class="cart-info">
                                            <h3 class="cart-title tt-16 title t-uppercase">
                                                <a href="#">
                                                    CRÊPE PRINTED
                                                </a>
                                            </h3>
                                            <p class="cart-price">
                                                100,000đ
                                            </p>
                                        </div>
                                    </li>
                                    <li class="cart-item">
                                        <div class="cart-close">
                                            <i class="fa fa-times-circle" aria-hidden="true"></i>
                                        </div>
                                        <div class="cart-img">
                                            <a href="#">
                                                <img src="./img/cart1.png" alt="cart1.png">
                                            </a>
                                        </div>
                                        <div class="cart-info">
                                            <h3 class="cart-title tt-16 title t-uppercase">
                                                CRÊPE PRINTED
                                            </h3>
                                            <p class="cart-price">
                                                100,000đ
                                            </p>
                                        </div>
                                    </li>
                                    <li class="cart-item">
                                        <div class="cart-close">
                                            <i class="fa fa-times-circle" aria-hidden="true"></i>
                                        </div>
                                        <div class="cart-img">
                                            <a href="#">
                                                <img src="./img/cart1.png" alt="cart1.png">
                                            </a>
                                        </div>
                                        <div class="cart-info">
                                            <h3 class="cart-title tt-16 title t-uppercase">
                                                CRÊPE PRINTED
                                            </h3>
                                            <p class="cart-price">
                                                100,000đ
                                            </p>
                                        </div>
                                    </li>
                                </ul>
                                <div class="cart-total">
                                    <p class="total-t">Tổng tiền</p>
                                    <p class="total-n tt-18">
                                        300,000đ
                                    </p>
                                </div>

                                <div class="cart-pay">
                                    <a href="#" class="btn btn-black btn-link title f-bold">Thanh toán</a>
                                    <a href="#" class="btn btn-white btn-link title f-bold">Xem giỏ hàng</a>
                                </div>
                            </div>
                        </div>
                        <div class="hamburger-btn">
                            <div class="bar"></div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <main class="main">
            <div class="container">
                <div class="test-main" style="height: 500px; background: sandybrown;"></div>

                <nav class='pagination'>
                    <ul class='page-numbers'>
                        <li>
                            <span aria-current='page' class='page-numbers current'>1</span>
                        </li>
                        <li><a class='page-numbers' href='#'>2</a></li>
                        <li><a class='page-numbers' href='#'>...</a></li>
                        <li><a class='page-numbers' href='#'>4</a></li>
                        <li><a class='page-numbers' href='#'>10</a></li>
                    </ul>
                </nav>

                <nav class='pagination pagi-two'>
                    <ul class='page-numbers'>
                        <li>
                            <a href="#" class="page-arrow">
                                <i class="fa fa-angle-left" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li>
                            <span aria-current='page' class='page-numbers current'>1</span>
                        </li>
                        <li><a class='page-numbers' href='#'>02</a></li>
                        <li><a class='page-numbers' href='#'>03</a></li>
                        <li><a class='page-numbers' href='#'>04</a></li>
                        <li>
                            <a href="#" class="page-arrow ">
                                <i class="fa fa-angle-right" aria-hidden="true"></i>
                            </a>
                        </li>
                    </ul>
                </nav>

                <div class="popup-box">
                    <a href="#popup-form" class="popup-title">Popup test</a>
                    <div class="mfp-hide white-popup-block sg-content" id="popup-form">
                        <h1>Popup test test</h1>
                        <img src="./img/pro2.png" alt="pro2.png">
                    </div>
                </div>

                <div class="tab tab-lines tab-mobi">
                    <div class="tab-tt">
                        <div class="tab-link-mobi">
                            <p class="tt-18 f-bold">Danh mục </p>
                        </div>
                        <div class="tab-link">
                            <div class="tab-title active">
                                <p>test 1</p>
                            </div>
                            <div class="tab-title">
                                <p>test 2</p>
                            </div>
                            <div class="tab-title">
                                <p>test 3</p>
                            </div>
                            <div class="tab-line"></div>
                        </div>
                    </div>

                    <div class="tab-content">
                        <div class="tab-content-box active">
                            <h1>content test 1</h1>
                        </div>
                        <div class="tab-content-box">
                            <h1>content test 2</h1>
                        </div>
                        <div class="tab-content-box">
                            <h1>content test 3</h1>
                        </div>
                    </div>
                </div>

                <div class="countup-box" id="countup">
                    <div class="counter" data-count='15000'>
                        <p>0%</p>

                    </div>
                    <div class="counter" data-count='1000'>
                        <p>0</p>
                    </div>
                </div>

                <div class="countup">
                    <span class="js-counter" data-counter="5000"></span>
                </div>

                <div class="breadcrumb">
                    <div class="container">
                        <ul class="breadcrumb-menu">
                            <li class="breadcrumb-list">
                                <a href="home.html">Trang chủ</a>
                            </li>
                            <li class="breadcrumb-list current">
                                <a href="#">Tin tức</a>
                            </li>
                        </ul>
                    </div>
                </div>



                <div class="count-down" data-end-time="05/30/2021">
                    <div class="day"></div>
                    <div class="hours"></div>
                    <div class="minutes"></div>
                    <div class="seconds"></div>
                </div>

                <div class="box-light-dark">
                    <label class="switch">
                        <input type="checkbox" class="switch-state">
                        <span class="switch-toggle"></span>
                    </label>
                </div>

                <div class="swiper-demo">
                    <div class="swiper">
                        <!-- Additional required wrapper -->
                        <div class="swiper-wrapper">
                            <!-- Slides -->
                            <div class="swiper-slide">Slide 1</div>
                            <div class="swiper-slide">Slide 2</div>
                            <div class="swiper-slide">Slide 3</div>

                        </div>
                        <!-- If we need pagination -->
                        <div class="swiper-pagination"></div>

                        <!-- If we need navigation buttons -->
                        <div class="swiper-button-prev"></div>
                        <div class="swiper-button-next"></div>


                    </div>
                </div>
                <div class="asd wow animate__rotateIn"> qweqwe</div>


                <div class="box-star-line">
                    <div class="star">
                        <span class="empty-stars">
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                        </span>
                        <span class="filled-stars" style="width: 40%">
                            <i class="star fa fa-star"></i>
                            <i class="star fa fa-star"></i>
                            <i class="star fa fa-star"></i>
                            <i class="star fa fa-star"></i>
                            <i class="star fa fa-star"></i>
                        </span>
                    </div>
                    <div class="process">
                        <div style="width: 40%"></div>
                    </div>
                </div>

                <div class="diagram">
                    <div class="diagram-wrap" data-aos="fade-up">
                        <div class="lv-1 diagram-st">
                            <p>hội đồng quản trị</p>
                        </div>
                        <div class="lv-2 diagram-st">
                            <p>ban tổng giám đốc</p>
                        </div>
                        <div class="lv-3-wrap">
                            <div class="lv-3 diagram-st">
                                <p>ban tcns & Hành chính</p>
                            </div>
                            <div class="lv-3 lv-4-wrap-mobile diagram-st">
                                <p>ban kinh doanh</p>
                                <div class="lv-4-mobile">
                                    <div class="lv-4 diagram-st">
                                        <p>phòng R & D</p>
                                    </div>
                                    <div class="lv-4 diagram-st">
                                        <p>phòng thủ tục & CSKH</p>
                                    </div>
                                    <div class="lv-4 diagram-st">
                                        <p>phòng Kinh doanh</p>
                                    </div>
                                </div>
                            </div>
                            <div class="lv-3 diagram-st">
                                <p>ban đấu thầu</p>
                            </div>
                            <div class="lv-3 diagram-st">
                                <p>ban marketing & truyền thông</p>
                            </div>
                            <div class="lv-3 diagram-st">
                                <p>ban tài chính</p>
                            </div>
                            <div class="lv-3 diagram-st">
                                <p>ban kế toán</p>
                            </div>
                        </div>
                        <div class="lv-4-wrap">
                            <div class="left">
                                <div>
                                    <div class="lv-4 diagram-st">
                                        <p>phòng R & D</p>
                                    </div>
                                    <div class="lv-4 diagram-st">
                                        <p>phòng thủ tục & CSKH</p>
                                    </div>
                                    <div class="lv-4 diagram-st">
                                        <p>phòng Kinh doanh</p>
                                    </div>
                                </div>
                            </div>
                            <div class="right">
                                <div class="lv-4 diagram-st">
                                    <p>các công ty Thành viên</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>


        </main>
        <footer class="footer">
            <div class="test">

            </div>
        </footer>
        <!-- cart popup -->
        <div class="cart-popup">
            <div class="bg-cart"></div>
            <div class="box-cart">
                <div class="wrapper-box-cart">
                    <div class="hd-box-cart">
                        <h3 class="title-name">Shopping Cart</h3>
                        <button class="btn-close">Close</button>
                    </div>
                    <div class="container-boxcart">
                        <div class="product-list">
                            <div class="product-bag">
                                <div class="product-bag-img">
                                    <img src="img/pro2.png" alt="">
                                </div>
                                <div class="product-data">
                                    <div class="product-bag-detail">
                                        <a class="name-product-cart" href="#">Áo thun
                                            nam</a>
                                        <span class="product-size">XXL</span>
                                    </div>
                                    <div class="product-row">
                                        <div class="cart-qty">
                                            <button class="cart-qty-minus" type="button" value="-">-</button>

                                            <input type="text" name="qty" min="0" class="qty form-control" value="1" />

                                            <button class="cart-qty-plus" type="button" value="+">+</button>
                                        </div>
                                        <div class="product-price">
                                            <span>1,900,000 đ</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="product-bag">
                                <div class="product-bag-img">
                                    <img src="img/pro2.png" alt="">
                                </div>
                                <div class="product-data">
                                    <div class="product-bag-detail">
                                        <a class="name-product-cart" href="#">Áo thun
                                            nam</a>
                                        <span class="product-size">XXL</span>
                                    </div>
                                    <div class="product-row">
                                        <div class="cart-qty">
                                            <button class="cart-qty-minus" type="button" value="-">-</button>

                                            <input type="text" name="qty" min="0" class="qty form-control" value="1" />
                                            <button class="cart-qty-plus" type="button" value="+">+</button>
                                        </div>
                                        <div class="product-price">
                                            <span>1,900,000 đ</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="product-bag">
                                <div class="product-bag-img">
                                    <img src="img/pro2.png" alt="">
                                </div>
                                <div class="product-data">
                                    <div class="product-bag-detail">
                                        <a class="name-product-cart" href="#">Áo thun
                                            nam</a>
                                        <span class="product-size">XXL</span>
                                    </div>
                                    <div class="product-row">
                                        <div class="cart-qty">
                                            <button class="cart-qty-minus" type="button" value="-">-</button>

                                            <input type="text" name="qty" min="0" class="qty form-control" value="1" />
                                            <button class="cart-qty-plus" type="button" value="+">+</button>
                                        </div>
                                        <div class="product-price">
                                            <span>1,900,000 đ</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="footer-boxcart">
                        <div class="wrapper-footer-boxcart">
                            <div class="box-sum-cart">
                                <p class="cart-sum-title">Tổng :</p>
                                <p class="cart-sum">1,630,000VNĐ</p>
                            </div>
                            <div class="cart-link">
                                <a href="#" class="btn btn-checkout">CHECKOUT</a>
                                <a href="#" class="btn btn-yourcart">YOUR CART</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Phần Search Mobi -->
        <div class="search-mobile">
            <form action="#" class="search-form">
                <!-- <h2 class="main-title t-center --mb-25">Tìm kiếm</h2> -->
                <input type="text" class="f-control" placeholder="Tìm kiếm sản phẩm...">
                <button class="f-submit" type="submit">
                    <i class="fa fa-search" aria-hidden="true"></i>
                </button>
            </form>
            <div class="search-mobile-close">
                <i class="fa fa-times" aria-hidden="true"></i>
            </div>
        </div>
        <!-- scroll top 1 -->
        <div class="scroll-top"></div>
        <!-- scroll top 2 -->
        <!-- <div class="scroll-top-progress">
            <svg height="100%" width="100%" viewBox="-1 -1 102 102">
                <path class="animated-circle" d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" style="transition: stroke-dashoffset 10ms linear 0s; stroke-dasharray: 307.919, 307.919; stroke-dashoffset: 60.5547;"></path>
            </svg>
        </div> -->
    </div>
    <!-- js -->
    <script src="./js/libs/jquery-3.5.1.js"></script>
    <!-- AOS -->
    <script src="./js/libs/aos/aos.js"></script>
    <!-- wow -->
    <script src="./js/libs/wow/wow.min.js"></script>
    <!-- Swiper -->
    <script src="./js/libs/swiper/swiper.min.js"></script>
    <!-- lighrgallery -->
    <script src="./js/libs/lightgallery/lightgallery-all.min.js"></script>
    <!-- popup -->
    <script src="./js/libs/popup/jquery.magnific-popup.js"></script>
    <!-- Style -->
    <script src="./js/style.js" type="module" defer></script>
</body>

</html>