<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta http-equiv='cache-control' content='no-cache'>
    <meta http-equiv='expires' content='0'>
    <meta http-equiv='pragma' content='no-cache'>
    <title>Document</title>
    <link rel="shortcut icon" type="image/png" href="./img/favicon/fav.png" />
    <!-- css -->
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/backdoor.css">


</head>

<body>
    <div class="wrapper" style="height: auto;">
        <div id="page-loading">
            <img src="img/logo-header.svg" alt="logo-header.svg" />
        </div>
        <header class="header">
            <div class="header-top">
                <div class="container">
                    <div class="top-inner">
                        <div class="top-text f-bold t-uppercase t-center">
                            <p class="tt-24 ">
                                CÔNG TY THƯƠNG MẠI VÀ DỊCH VỤ HOA HỒNG
                            </p>
                            <p class="tt-18">
                                NHẬP KHẨU VÀ PHÂN PHỐI MÁY MÓC, MỰC, VẬT TƯ LINH KIỆN CHO MÁY PHOTOCOPY VÀ MÁY IN
                            </p>
                        </div>
                        <div class="top-ig">
                            <img src="./img/img-advert.png" alt="img-advert.png">
                        </div>
                    </div>
                </div>
            </div>
            <div class="header-bottom">
                <div class="container">
                    <div class="header-bottom-inner">

                        <div class="header-lf">
                            <div class="header-logo">
                                <a href="home.html">
                                    <img src="./img/logo-header.svg" alt="logo-header.svg">
                                </a>
                            </div>
                            <div class="header-mobi-cata"></div>
                        </div>

                        <div class="header-contact">
                            <div class="content">
                                <p class="text">
                                    LIÊN HỆ NGAy
                                </p>
                                <a href="tel:+84376424146" class="link">
                                    +84 376424146
                                </a>
                            </div>
                            <div class="icon-phone">
                                <img src="./img/svg/icon-phone-w.svg" alt="icon-phone-w.svg">
                            </div>
                        </div>
                        <div class="header-search">
                            <form action="#" class="search-form">
                                <input type="text" class="f-control" placeholder="Nhập mã hoặc tên sản phẩm">
                                <button class="f-submit" type="submit">
                                    <img src="./img/svg/icon-search.svg" alt="icon-search.svg">
                                </button>
                            </form>

                            <div class="header-search-icon">
                                <i class="fa fa-search" aria-hidden="true"></i>
                            </div>
                        </div>

                        <div class="header-right">
                            <div class="header-lang">
                                <p class="lang-text">
                                    LỰA CHỌN NGÔN ngữ
                                </p>
                                <div class="lang-form">
                                    <form action="#">
                                        <div class="f-lang">
                                            <div class="lang-box">
                                                <label class="f-label">
                                                    <input type="radio" class="f-hide" value='VN' name="lang">
                                                    <div class="chekmark">
                                                        <img src="./img/logo-vn.svg" alt="logo-vn.svg">
                                                    </div>
                                                </label>
                                            </div>
                                            <div class="lang-box">
                                                <label class="f-label">
                                                    <input type="radio" class="f-hide" value='EN' name="lang">
                                                    <div class="chekmark">
                                                        <img src="./img/logo-en.svg" alt="logo-en.svg">
                                                    </div>
                                                </label>
                                            </div>
                                        </div>
                                    </form>
                                </div>

                            </div>
                            <div class="hamburger-btn">
                                <div class="bar"></div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="header-full">
                    <div class="container">
                        <div class="header-wrapper-f">
                            <div class="header-menu">
                                <div class="header-menu-inner">
                                    <div class="logo-mobile">
                                        <a href="home.html">
                                            <img src="./img/logo-header.svg" alt="logo-header.svg">
                                        </a>
                                    </div>
                                    <div class="header-search-mobi">
                                        <form action="#">
                                            <input type="text" class="f-control" placeholder="Tìm kiếm sản phẩm...">
                                            <button class="btn f-submit" type="submit ">
                                                <i class="fa fa-search" aria-hidden="true"></i>
                                            </button>
                                        </form>
                                    </div>
                                    <div class="header-catalog">
                                        <div class="cata-tt tt-16 f-bold">
                                            <img src="./img/svg/icon-list.svg" alt="icon-list.svg">
                                            Danh mục sản phẩm
                                        </div>
                                        <div class="cata-content">
                                            <form action="#">
                                                <div class="cata-list">
                                                    <div class="cata-item">
                                                        <select class="f-select">
                                                            <option selected disabled> Chọn một danh mục</option>
                                                            <option value="1">San pham 1</option>
                                                            <option value="2">San pham 2</option>
                                                        </select>
                                                    </div>
                                                    <div class="cata-item">
                                                        <select class="f-select">
                                                            <option selected disabled> Chọn một danh mục</option>
                                                            <option value="1">San pham 1</option>
                                                            <option value="2">San pham 2</option>
                                                        </select>
                                                    </div>
                                                    <div class="cata-item">
                                                        <select class="f-select">
                                                            <option selected disabled> Chọn một danh mục</option>
                                                            <option value="1">San pham 1</option>
                                                            <option value="2">San pham 2</option>
                                                        </select>
                                                    </div>
                                                    <div class="cata-item">
                                                        <select class="f-select">
                                                            <option selected disabled> Chọn một danh mục</option>
                                                            <option value="1">San pham 1</option>
                                                            <option value="2">San pham 2</option>
                                                        </select>
                                                    </div>
                                                    <div class="cata-item">
                                                        <select class="f-select">
                                                            <option selected disabled> Chọn một danh mục</option>
                                                            <option value="1">San pham 1</option>
                                                            <option value="2">San pham 2</option>
                                                        </select>
                                                    </div>
                                                    <button type="submit" class="btn btn-search">
                                                        <img src="./img/svg/icon-search-1.svg" alt="icon-search-1.svg">
                                                        Tìm kiếm
                                                    </button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    <ul class="header-list">
                                        <li class="current-menu-item">
                                            <a href="#">Trang chủ</a>
                                        </li>
                                        <li class="dropdown">
                                            <a href="#">Về chúng tôi</a>
                                            <ul class="sub-menu">
                                                <li>
                                                    <a href="#">test sub menu 1</a>
                                                </li>
                                                <li class="dropdown">
                                                    <a href="#">test sub menu 1</a>
                                                    <ul class="sub-menu">
                                                        <li>
                                                            <a href="#">test sub menu 2</a>
                                                        </li>
                                                        <li class="dropdown">
                                                            <a href="#">test sub menu2 </a>
                                                            <ul class="sub-menu">
                                                                <li>
                                                                    <a href="#">test sub menu 3</a>
                                                                </li>
                                                                <li>
                                                                    <a href="#">test sub menu 3</a>
                                                                </li>
                                                                <li>
                                                                    <a href="#">test sub menu 3</a>
                                                                </li>
                                                                <li>
                                                                    <a href="#">test sub menu 3</a>
                                                                </li>
                                                            </ul>
                                                        </li>
                                                        <li>
                                                            <a href="#">test sub menu 2</a>
                                                        </li>
                                                        <li>
                                                            <a href="#">test sub menu 2</a>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li>
                                                    <a href="#">test sub menu 1</a>
                                                </li>
                                                <li>
                                                    <a href="#">test sub menu 1</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#">g7</a>
                                        </li>
                                        <li class="dropdown">
                                            <a href="#">Sản phẩm</a>
                                            <ul class="sub-menu">
                                                <li>
                                                    <a href="#">test sub menu</a>
                                                </li>
                                                <li>
                                                    <a href="#">test sub menu</a>
                                                </li>
                                                <li>
                                                    <a href="#">test sub menu</a>
                                                </li>
                                                <li>
                                                    <a href="#">test sub menu</a>
                                                </li>
                                                <li>
                                                    <a href="#">test sub menu</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="dropdown">
                                            <a href="#">Dịch vụ</a>
                                            <ul class="sub-menu">
                                                <li>
                                                    <a href="#">test sub menu</a>
                                                </li>
                                                <li>
                                                    <a href="#">test sub menu</a>
                                                </li>
                                                <li>
                                                    <a href="#">test sub menu</a>
                                                </li>
                                                <li>
                                                    <a href="#">test sub menu</a>
                                                </li>
                                                <li>
                                                    <a href="#">test sub menu</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="dropdown">
                                            <a href="#">Tin tức</a>
                                            <ul class="sub-menu">
                                                <li>
                                                    <a href="#">test sub menu</a>
                                                </li>
                                                <li>
                                                    <a href="#">test sub menu</a>
                                                </li>
                                                <li>
                                                    <a href="#">test sub menu</a>
                                                </li>
                                                <li>
                                                    <a href="#">test sub menu</a>
                                                </li>
                                                <li>
                                                    <a href="#">test sub menu</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#">Liên hệ</a>
                                        </li>
                                    </ul>
                                    <div class="header-menu-social">
                                        <a href="#" class="menu-social social-face">
                                            <i class="fa fa-facebook" aria-hidden="true"></i>
                                        </a>
                                        <a href="tel:+84376424146" class="menu-social social-phone">
                                            <img src="./img/svg/icon-phone-w.svg" alt="icon-phone-w.svg">
                                        </a>
                                    </div>
                                </div>
                                <div class="overplay"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <main class="main">
            <!--
                   3 loại banner: 
                    + banners
                    + banners banners-page
                    + banners banners-eff 
            -->
            <div class="banners banners-page" style="background-image: url('./img/bg-page-banner-4.png');">
                <div class="container">
                    <div class="banners-wrapper ">
                        <h3 class="banner-title tt-40">
                            Tin tức
                        </h3>
                        <div class="breadcrumb">
                            <ul class="breadcrumb-menu">
                                <li class="breadcrumb-list">
                                    <a href="home.html">Trang chủ</a>
                                </li>
                                <li class="breadcrumb-list current">
                                    <a href="#">Tin tức</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="news-page sec-40">
                <div class="container">
                    <div class="news-wrapper">
                        <div class="columns">
                            <div class="column txt">
                                <div class="news-main">
                                    <div class="columns">
                                        <div class="column">
                                            <div class="news-inner">
                                                <a href="#" class="news-img img-w-100">
                                                    <img src="./img/img-news-re-1.png" alt="img-news-re-1.png">
                                                </a>
    
                                                <div class="news-content">
                                                    <a href="#" class="news-title t-capitalize tt-16 f-bold">
                                                        Phòng trách dịch covod 19
                                                        cho nhân viên công ty &amp;
                                                        quí khách hàng
                                                    </a>
                                                    <div class="news-date">
                                                        <img src="./img/svg/icon-calendar-2.svg" alt="icon-calendar-2.svg">
                                                        <p class="tt-16 f-italic">29, tháng 10, 2021</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="column">
                                            <div class="news-inner">
                                                <a href="#" class="news-img img-w-100">
                                                    <img src="./img/img-news-re-2.png" alt="img-news-re-2.png">
                                                </a>
    
                                                <div class="news-content">
                                                    <a href="#" class="news-title t-capitalize tt-16 f-bold">
                                                        Phòng trách dịch covod 19
                                                        cho nhân viên công ty &amp;
                                                        quí khách hàng
                                                    </a>
                                                    <div class="news-date">
                                                        <img src="./img/svg/icon-calendar-2.svg" alt="icon-calendar-2.svg">
                                                        <p class="tt-16 f-italic">29, tháng 10, 2021</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="column">
                                            <div class="news-inner">
                                                <a href="#" class="news-img img-w-100">
                                                    <img src="./img/img-news-re-2.png" alt="img-news-re-2.png">
                                                </a>
    
                                                <div class="news-content">
                                                    <a href="#" class="news-title t-capitalize tt-16 f-bold">
                                                        Phòng trách dịch covod 19
                                                        cho nhân viên công ty &amp;
                                                        quí khách hàng
                                                    </a>
                                                    <div class="news-date">
                                                        <img src="./img/svg/icon-calendar-2.svg" alt="icon-calendar-2.svg">
                                                        <p class="tt-16 f-italic">29, tháng 10, 2021</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="column">
                                            <div class="news-inner">
                                                <a href="#" class="news-img img-w-100">
                                                    <img src="./img/img-news-re-2.png" alt="img-news-re-2.png">
                                                </a>
    
                                                <div class="news-content">
                                                    <a href="#" class="news-title t-capitalize tt-16 f-bold">
                                                        Phòng trách dịch covod 19
                                                        cho nhân viên công ty &amp;
                                                        quí khách hàng
                                                    </a>
                                                    <div class="news-date">
                                                        <img src="./img/svg/icon-calendar-2.svg" alt="icon-calendar-2.svg">
                                                        <p class="tt-16 f-italic">29, tháng 10, 2021</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="column">
                                            <div class="news-inner">
                                                <a href="#" class="news-img img-w-100">
                                                    <img src="./img/img-news-re-2.png" alt="img-news-re-2.png">
                                                </a>
    
                                                <div class="news-content">
                                                    <a href="#" class="news-title t-capitalize tt-16 f-bold">
                                                        Phòng trách dịch covod 19
                                                        cho nhân viên công ty &amp;
                                                        quí khách hàng
                                                    </a>
                                                    <div class="news-date">
                                                        <img src="./img/svg/icon-calendar-2.svg" alt="icon-calendar-2.svg">
                                                        <p class="tt-16 f-italic">29, tháng 10, 2021</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="column">
                                            <div class="news-inner">
                                                <a href="#" class="news-img img-w-100">
                                                    <img src="./img/img-news-re-2.png" alt="img-news-re-2.png">
                                                </a>
    
                                                <div class="news-content">
                                                    <a href="#" class="news-title t-capitalize tt-16 f-bold">
                                                        Phòng trách dịch covod 19
                                                        cho nhân viên công ty &amp;
                                                        quí khách hàng
                                                    </a>
                                                    <div class="news-date">
                                                        <img src="./img/svg/icon-calendar-2.svg" alt="icon-calendar-2.svg">
                                                        <p class="tt-16 f-italic">29, tháng 10, 2021</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="column">
                                            <div class="news-inner">
                                                <a href="#" class="news-img img-w-100">
                                                    <img src="./img/img-news-re-2.png" alt="img-news-re-2.png">
                                                </a>
    
                                                <div class="news-content">
                                                    <a href="#" class="news-title t-capitalize tt-16 f-bold">
                                                        Phòng trách dịch covod 19
                                                        cho nhân viên công ty &amp;
                                                        quí khách hàng
                                                    </a>
                                                    <div class="news-date">
                                                        <img src="./img/svg/icon-calendar-2.svg" alt="icon-calendar-2.svg">
                                                        <p class="tt-16 f-italic">29, tháng 10, 2021</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="column">
                                            <div class="news-inner">
                                                <a href="#" class="news-img img-w-100">
                                                    <img src="./img/img-news-re-2.png" alt="img-news-re-2.png">
                                                </a>
    
                                                <div class="news-content">
                                                    <a href="#" class="news-title t-capitalize tt-16 f-bold">
                                                        Phòng trách dịch covod 19
                                                        cho nhân viên công ty &amp;
                                                        quí khách hàng
                                                    </a>
                                                    <div class="news-date">
                                                        <img src="./img/svg/icon-calendar-2.svg" alt="icon-calendar-2.svg">
                                                        <p class="tt-16 f-italic">29, tháng 10, 2021</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="column">
                                            <div class="news-inner">
                                                <a href="#" class="news-img img-w-100">
                                                    <img src="./img/img-news-re-2.png" alt="img-news-re-2.png">
                                                </a>
    
                                                <div class="news-content">
                                                    <a href="#" class="news-title t-capitalize tt-16 f-bold">
                                                        Phòng trách dịch covod 19
                                                        cho nhân viên công ty &amp;
                                                        quí khách hàng
                                                    </a>
                                                    <div class="news-date">
                                                        <img src="./img/svg/icon-calendar-2.svg" alt="icon-calendar-2.svg">
                                                        <p class="tt-16 f-italic">29, tháng 10, 2021</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <nav class='pagination pagi-two'>
                                        <ul class='page-numbers'>
                                            <li>
                                                <a href="#" class="page-arrow">
                                                    <img src="./img/svg/icon-right-lg-b.svg" alt="icon-right-lg-b.svg">
                                                </a>
                                            </li>
                                            <li>
                                                <span aria-current='page' class='page-numbers current'>1</span>
                                            </li>
                                            <li><a class='page-numbers' href='#'>02</a></li>
                                            <li><a class='page-numbers' href='#'>03</a></li>
                                            <li><a class='page-dot' href='#'>...</a></li>
                                            <li><a class='page-numbers' href='#'>12</a></li>
                                            <li>
                                                <a href="#" class="page-arrow ">
                                                    <img src="./img/svg/icon-right-lg-b.svg" alt="icon-right-lg-b.svg">
                                                </a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                            <div class="column sidebar">
                                <div class="news-side">
                                    <div class="news-search">
                                        <p class="label tt-16 f-bold t-capitalize">
                                            <img src="./img/svg/icon-search-2.svg" alt="">
                                            Tìm kiếm
                                        </p>
                                        <form action="#">
                                            <div class="f-search">
                                                <input type="text" class="f-control"
                                                    placeholder="Nhập mã hoặc tên sản phẩm">
                                                <div class="f-submit">
                                                    <img src="./img/svg/icon-search.svg" alt="icon-search.svg">
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="news-cata">
                                        <p class="label tt-16 f-bold t-capitalize">
                                            <img src="./img/svg/icon-list-m.svg" alt="icon-list-m.svg">
                                            danh mục sản phẩm
                                        </p>
                                        <div class="news-list">
                                            <a href="#" class="news-link">
                                                Thông tin chuyên ngành
                                            </a>
                                            <a href="#" class="news-link">
                                                Hoạt động cộng đồng
                                            </a>
                                            <a href="#" class="news-link">
                                                Chia sẻ kinh nghiệm
                                            </a>
                                        </div>
                                    </div>
                                    <div class="news-fea">
                                        <p class="label tt-16 f-bold t-capitalize">
                                            <img src="./img/svg/icon-newspaper.svg" alt="icon-newspaper.svg">
                                            tin tức nổi bật
                                        </p>
                                        <div class="news-list">
                                            <div class="news-item">
                                                <a href="#" class="img img-w-100">
                                                    <img src="./img/img-news-it1.png" alt="img-news-it1.png">
                                                </a>
                                                <div class="content">
                                                    <a href="#" class="news-tt tt-14 f-bold t-capitalize">
                                                        Các ký hiệu ghi trên
                                                        máy in
                                                    </a>
                                                    <p class="news-date tt-12">
                                                        <img src="./img/svg/icon-calendar.svg" alt="">
                                                        29, tháng 10, 2021
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="news-item">
                                                <a href="#" class="img img-w-100">
                                                    <img src="./img/img-news-it1.png" alt="img-news-it1.png">
                                                </a>
                                                <div class="content">
                                                    <a href="#" class="news-tt tt-14 f-bold t-capitalize">
                                                        Các ký hiệu ghi trên
                                                        máy in
                                                    </a>
                                                    <p class="news-date tt-12">
                                                        <img src="./img/svg/icon-calendar.svg" alt="">
                                                        29, tháng 10, 2021
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="news-item">
                                                <a href="#" class="img img-w-100">
                                                    <img src="./img/img-news-it1.png" alt="img-news-it1.png">
                                                </a>
                                                <div class="content">
                                                    <a href="#" class="news-tt tt-14 f-bold t-capitalize">
                                                        Các ký hiệu ghi trên
                                                        máy in
                                                    </a>
                                                    <p class="news-date tt-12">
                                                        <img src="./img/svg/icon-calendar.svg" alt="">
                                                        29, tháng 10, 2021
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="news-tag">
                                        <p class="label tt-16 f-bold t-capitalize">
                                            <img src="./img/svg/icon-price-tag.svg" alt="icon-price-tag.svg">
                                            tag
                                        </p>
                                        <div class="tag-list">
                                            <div class="tag-item">
                                                <a href="#" class="tag-link tt-12">
                                                    Mực in
                                                </a>
                                            </div>
                                            <div class="tag-item">
                                                <a href="#" class="tag-link tt-12">
                                                    Thay mực
                                                </a>
                                            </div>
                                            <div class="tag-item">
                                                <a href="#" class="tag-link tt-12">
                                                    Kí hiệu máy in
                                                </a>
                                            </div>
                                            <div class="tag-item">
                                                <a href="#" class="tag-link tt-12">
                                                    COVID -19
                                                </a>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>



        </main>
        <footer class="footer sec-80">
            <div class="container">
                <div class="footer-wrapper">
                    <div class="columns">
                        <div class="column it">
                            <div class="intro">
                                <a href="#" class="logo">
                                    <img src="./img/logo-footer.svg" alt="logo-footer.svg">
                                </a>
                                <p class="desc tt-16">
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                    Ipsum has been the industry's
                                </p>
                            </div>
                        </div>
                        <div class="column txt">
                            <div class="ft-inner">
                                <div class="ft-box bx-fir">
                                    <h4 class="ft-title tt-18 t-uppercase">
                                        LIÊN KẾt
                                    </h4>
                                    <div class="ft-list">
                                        <div class="ft-item active">
                                            <a href="#" class="ft-link ">
                                                Trang chủ
                                            </a>
                                        </div>
                                        <div class="ft-item">
                                            <a href="#" class="ft-link">
                                                Giới thiệu
                                            </a>
                                        </div>
                                        <div class="ft-item">
                                            <a href="#" class="ft-link">
                                                Sản phẩm
                                            </a>
                                        </div>
                                        <div class="ft-item">
                                            <a href="#" class="ft-link">
                                                Dịch vụ
                                            </a>
                                        </div>
                                        <div class="ft-item">
                                            <a href="#" class="ft-link">
                                                Tin tức
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="ft-box">
                                    <h4 class="ft-title tt-18 t-uppercase">
                                        LIÊN hỆ
                                    </h4>
                                    <div class="ft-list">
                                        <div class="ft-item ">
                                            <a href="#" class="ft-link ">
                                                373, 226 Lý Thường Kiệt,
                                                Phường 8, Tân Bình, tp Hồ Chí Minh
                                            </a>
                                        </div>
                                        <div class="ft-item">
                                            <div class="ft-p">
                                                Fax:
                                                <a href="tel:+17038772136" class="ft-link">
                                                    +1.703.877.2136
                                                </a>
                                            </div>
                                        </div>
                                        <div class="ft-item">
                                            <div class="ft-p">
                                                Tel::
                                                <a href="tel:+123457789" class="ft-link">
                                                    +123.457.789
                                                </a>
                                            </div>
                                        </div>
                                        <div class="ft-item">
                                            <div class="ft-p">
                                                Email:
                                                <a href="tel:+17038772136" class="ft-link">
                                                    info@gmail.com
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="column if">
                            <div class="ft-iner">
                                <div class="ft-fan">
                                    <h4 class="ft-title tt-18 t-uppercase">
                                        FANPAGe
                                    </h4>
                                    <div class="fanspage">
                                        <iframe
                                            src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Ffacebook&tabs=timeline&width=270&height=130&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId"
                                            width="270" height="130" style="border:none;overflow:hidden" scrolling="no"
                                            frameborder="0" allowfullscreen="true"
                                            allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
                                    </div>
                                </div>
                                <div class="ft-email">
                                    <h4 class="ft-title tt-18 t-uppercase">
                                        ĐĂNG KÍ NHẬN TIn
                                    </h4>
                                    <form action="#">
                                        <div class="f-email">
                                            <input type="text" class="f-control" placeholder="Nhập Email">
                                            <button type="submit" class="f-submit btn">
                                                <img src="./img/svg/icon-vector.svg" alt="icon-vector.svg">
                                            </button>
                                        </div>
                                    </form>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>

        <!-- scroll top 1 -->
        <div class="scroll-top"></div>
    </div>
    <!-- js -->
    <script src="./js/libs/jquery-3.5.1.js"></script>
    <!-- AOS -->
    <script src="./js/libs/aos/aos.js"></script>
    <!-- wow -->
    <script src="./js/libs/wow/wow.min.js"></script>
    <!-- Swiper -->
    <script src="./js/libs/swiper/swiper.min.js"></script>
    <!-- lighrgallery -->
    <script src="./js/libs/lightgallery/lightgallery-all.min.js"></script>
    <!-- popup -->
    <script src="./js/libs/popup/jquery.magnific-popup.js"></script>
    <!-- Style -->
    <script src="./js/style.js" type="module" defer></script>
</body>

</html>