.banners {
    .swiper-wrapper {
        margin: 0;
    }

    .swiper-slide {
        padding: 0;
        height: 100%;
        width: 100%;
    }

    .swiper-slide>img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    .swiper-button-prev {
        left: 30px;

        &::after {
            margin-right: 3px;
        }
    }

    .swiper-button-next {
        right: 30px;

        &::after {
            margin-left: 3px;
        }
    }

    .swiper-button-prev,
    .swiper-button-next {
        width: 50px;
        height: 50px;
        border-radius: 100%;
        background-color: rgba($color: $g-E5E5-cl, $alpha: .4);
        top: 50%;
        transform: translateY(-50%);
        margin: 0;

        &:hover {
            &::after {
                color: $main-cl-2;
            }
        }

        &::after {
            font-size: 16px;
            font-weight: bold;
            color: $b-cl;
        }
    }

    .swiper-pagination {
        position: absolute;
        bottom: 0;
    }

    .container-full {
        padding: 0;
    }


    .banners-wrap {
        position: relative;

        &::after {
            content: '';
            background-color: #335102;
            opacity: 0.6;
            @include pos-full
        }
    }

    .banners-inner {
        padding: 105px 0 110px;
        max-width: 550px;
        margin: 0 auto;
        color: $w-cl;
        position: relative;
        z-index: 1;
    }

    .title {
        margin-bottom: 20px;
        line-height: 1.2;

        br {}
    }

    .desc {
        margin-bottom: 20px;
        line-height: 1.5;
    }

    .btn-more-r {
        padding: 12px 24px;

        img {
            margin-left: 25px;
        }
    }

    .banners-slide {
        padding: 30px 0;
        background-color: $main-cl;
        position: relative;
        z-index: 1;
    }

    .swiper-con {
        max-width: 490px;
        margin: 0 auto;
        position: relative;

        .swiper {
            margin: 0 -15px;
        }


        .swiper-slide {
            width: calc(100% / 4);
            padding: 0 15px;
            // width: 130px;
        }
    }

    .swiper-next {
        right: -15px;
        transform: translate(100%, -50%);

        &::after {
            background-image: url('../img/svg/icon-right.svg');
        }
    }

    .swiper-prev {
        left: -15px;
        transform: translate(-100%, -50%);

        &::after {
            background-image: url('../img/svg/icon-right.svg');
            transform: rotate(180deg);
        }
    }

    .swiper-next,
    .swiper-prev {
        position: absolute;
        top: 50%;
        cursor: pointer;

        &::after {
            content: '';
            width: 30px;
            height: 30px;
            display: block;
            background-position: center;
            background-size: cover;

        }

        &.swiper-button-disabled {
            opacity: .3;
        }
    }

    .img-s {
        border-radius: 10px;

        img {
            border-radius: 10px;
            width: 100%;
            object-fit: cover;
        }
    }

    .img-b-item {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        z-index: 1;
    }

    &.banners-page,
    &.banners-eff {
        text-align: center;
        padding: 111px 0;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        color: $w-cl;
        position: relative;

        &::after {
            content: '';
            background-color: rgba($color: $b-cl, $alpha: .6);
            @include pos-full;
        }

        @include max-media($bk-d-1200) {
            padding: 80px 0;
        }

        @include max-media($bk-576) {
            text-align: left;
            padding: 60px 0;
        }

        .banners-wrapper {
            position: relative;
            z-index: 1;
        }
    }

    &.banners-eff {
        padding: 150px 0 300px;

        @include max-media($bk-d-1440) {
            padding: 100px 0 250px;
        }

        @include max-media($bk-d-1200) {
            padding: 80px 0 180px;
        }
        @include max-media($bk-d-992){
            padding: 60px 0 130px;
        }
        @include  max-media($bk-d-768){
            padding: 60px 0;
        }

        .banners-wrapper {
            max-width: 550px;
            margin: 0 auto;
        }

        .banners-desc {
            margin-top: 20px;
            @include fz-16;
            @include max-media($bk-d-768){
                margin-top: 5px;
            }
        }
    }
}