.banners {
	.swiper-wrapper {
		margin: 0;
	}
	.swiper-slide {
		padding: 0;
		height: 100%;
	}
	.swiper-slide > img {
		width: 100%;
		height: auto;
		object-fit: cover;
	}
	.swiper-button-prev {
		left: 20px;
	}
	.swiper-button-next {
		right: 20px;
	}
	.swiper-pagination {
		position: absolute;
		bottom: 0;
	}
}
