.breadcrumb {
    width: 100%;


    .breadcrumb-menu {
        display: flex;
        padding: 10px 0 0;
        align-items: center;
        justify-content: center;

        @include max-media($bk-576) {
            overflow-x: auto;
            white-space: nowrap;
            @include custom-horizontal-scrollbar(2px);
            justify-content: flex-start;
            padding-bottom: 10px;
        }


        .breadcrumb-list {
            &:not(:first-child) {
                &::before {
                    // content: '\f111 ';
                    content: '/';
                    // font-family: "Fontawesome";
                    // font-size: 14px;
                    padding-right: 8px;
                    @include fz-16;
                }

                padding-left: 12px;
            }

            &.current{
                // color: $main-cl;
            }

            a {
                @include fz-16;
                transition: all .3s ease;

                @include max-media($bk-d-768) {
                    font-size: 13px;
                }

                &:hover {
                    color: $main-cl;
                }
            }
        }
    }
}
