.header {
    position: relative;
    width: 100%;
    z-index: 900;
    background-color: $w-cl;
    transition: all .3s ease-in;
    @include max-media($bk-d-1200){
        box-shadow: 10px 10px 20px rgba($color: $b-cl, $alpha: 0.16);
    }

    &.--fix {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        box-shadow: 10px 10px 20px rgba($color: $b-cl, $alpha: 0.16);
        animation: fixedMenu 0.6s;

        .header-top {
            display: none;
        }

        .header-full {
            @include min-media($bk-1200) {
                transform: translateY(-100%);
                @include hidden;
                // display: none;
                position: absolute;
                width: 100%;
                z-index: -1;
            }
        }
    }

    &.--fix-menu {
        .header-full {
            @include min-media($bk-1200) {
                transform: translateY(0);
                @include visible;
            }

            // display: block;
        }
    }
}

.header-top {
    background-color: $main-cl;
    color: $w-cl;
    transition: all .3s ease;
    @include max-media($bk-d-768){
        display: none;
    }

    .top-inner {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 18px 0;
        position: relative;
        padding: 20px 0;
        @include max-media($bk-d-1200){
            padding: 20px 85px;
        }
        @include max-media($bk-d-768){
            justify-content: flex-start;
            padding: 10px 80px 10px 0;
        }
        @include max-media($bk-d-576){
            padding: 10px 50px 10px 0;
        }
    }

    .top-text{
        @include max-media($bk-d-768){
            text-align: left;
        }
        p{
            &:nth-child(2){
                @include max-media($bk-d-576){
                    display: none;
                }
            }
        }
    }

    .top-ig {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        @include max-media($bk-d-576){
            width: 40px;
        }
       
    }
}

.header-bottom {
    background: $w-cl;
    transition: all .3s ease;
    position: relative;
    &-inner {
        padding: 11px 0 10px;
        display: flex;
        //justify-content: flex-start;
        justify-content: space-between;
        align-items: center;
        // color: $t-w-cl;
    }
}

.header-lf{
    display: flex;
    align-items: center;
}

.header-logo {
    // margin-right: 5px;
    @include max-media($bk-d-1200){
        max-width: 70%;
    }
    @include max-media($bk-d-768){
        max-width: 70%;
    }
    img {
        width: 100%;
        height: auto;
        -o-object-fit: cover;
        object-fit: cover;
    }
}

.header-search {
    width: calc(100% / 12 * 6);

    @include max-media($bk-1200) {
        display: none;
    }

    &-icon {
        display: none;
        width: 44px;
        height: 44px;
        line-height: 44px;
        text-align: center;
        background-color: $b-cl;
        border-radius: 6px;
        font-size: 16px;
        color: $main-cl;

        @include max-media($bk-768) {
            display: block;
        }
    }

    @include max-media($bk-768) {
        .search-form {
            display: none;
        }
    }

    .search-form {
        .f-submit {
            width: 30px;
            height: 30px;
            border-radius: 100%;
            background-color: $main-cl-2;
            color: $w-cl;
            font-size: 15px;
            @include flex-mid;
            box-shadow: 0px 0px 4px rgba($color: $b-cl, $alpha: 0.6);
            top: 50%;
            right: 3px;
            transform: translateY(-50%);
        }
    }

    .f-control {
        height: 36px;
        padding: 11px 15px;
        border-radius: 100px;
        border-color: $main-cl;
        background-color: $g-F8F8-cl;

        &::placeholder {
            opacity: .4;
            font-style: italic;
            font-size: 12px;
        }
    }
}

.header-contact {
    padding: 12px 15px 13px;
    border: 1px solid $main-cl;
    border-radius: 10px;
    display: flex;
    align-items: center;

    @include max-media($bk-d-1200) {
        display: none;
    }

    .text {
        font-size: 10px;
        opacity: .7;
        text-transform: uppercase;
    }

    .link {
        font-weight: bold;
        display: block;
        transition: all .3s ease;

        &:hover {
            color: $main-cl;
        }
    }

    .icon-phone {
        width: 20px;
        height: 20px;
        border-radius: 100%;
        background-color: $main-cl-2;
        @include flex-mid;
        margin-left: 7px;
    }
}

.header-right {
    display: flex;
    align-items: center;
  

    .hamburger-btn{
        @include max-media($bk-d-768){
            order: 3;
        }
    }
}

.header-lang {
    padding: 10px 15px;
    border-radius: 10px;
    border: 1px solid $main-cl;

    @include max-media($bk-d-1200) {
        margin-right: 15px;
    }
    @include max-media($bk-d-768){
        padding: 10px;
        order: 1;
    }

    .lang-text {
        opacity: .7;
        margin-bottom: 5px;
        font-size: 10px;
        text-transform: uppercase;
        line-height: 1.3;
        @include max-media($bk-d-768){
            display: none;
        }
    }

    .f-lang {
        display: flex;
        align-items: center;
    }

    .lang-box {
        &:not(:first-child) {
            margin-left: 10px;
        }
    }

    .f-label {

        .f-hide {
            display: none;

            &:checked+.chekmark {
                border-color: $main-cl;
            }
        }
    }

    .chekmark {
        border: 1px solid transparent;
        cursor: pointer;
        border-radius: 100%;
    }







}

.header-menu-social {
    display: none;
    align-items: center;
    justify-content: center;
    margin-top: auto;

    @include max-media($bk-d-1200) {
        display: flex;
    }

    .menu-social {
        width: 30px;
        height: 30px;
        // border: 1px solid $main-cl;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $w-cl;
        border-radius: 100%;
        margin: 0 10px;
        cursor: pointer;

        &.social-face {
            background-color: #3B5998;
        }

        &.social-phone {
            background-color: $main-cl-2;
        }

        img {
            width: 12px;
            height: 12px;
        }


    }
}

// .header-cart {
//     position: relative;

//     .cart-btn {
//         //color: $t-b-cl;
//         cursor: pointer;
//         position: relative;
//         width: 40px;
//         height: 40px;
//         display: flex;
//         align-items: center;
//         justify-content: center;
//         // p {
//         //     text-transform: uppercase;
//         //     font-weight: 700;
//         // }

//         // .qty-cart{
//         //     display: inline;
//         //     position: absolute;
//         //     top: 0px;
//         //     right: -7px;
//         //     width: 18px;
//         //     height: 18px;
//         //     border-radius: 100%;
//         //     background-color: rgba($color: red, $alpha: 0.5);
//         //     color: $t-w-cl;
//         //     font-size: 10px;
//         //     line-height: 18px;
//         //     text-align: center;
//         // }
//     }

//     &.active {
//         .cart-content {
//             @include visible;
//         }
//     }

//     .cart-content {
//         position: absolute;
//         top: 40px;
//         right: 0;
//         width: 330px;
//         background-color: $bg-w-cl;
//         border: 1px $g-E5E5-cl solid;
//         box-shadow: 10px 10px 30px rgba($color: $b-cl, $alpha: 0.16);
//         padding: 30px 24px;
//         @include hidden;
//         transition: all .3s ease;

//         @include max-media($bk-576) {
//             padding: 15px;
//             width: 260px;
//             // right: -75px;
//         }

//         .cart-list {
//             .cart-item {
//                 display: flex;
//                 align-items: center;
//                 padding-bottom: 20px;
//                 border-bottom: 1px solid rgba($color: $b-cl, $alpha: 0.1);
//                 margin-bottom: 20px;

//                 @include max-media($bk-576) {
//                     padding-bottom: 15px;
//                     margin-bottom: 15px;
//                 }
//             }

//             .cart-close {
//                 color: $g-E5E5-cl;
//                 font-size: 18px;
//                 transition: all .3s ease;
//                 cursor: pointer;

//                 &:hover {
//                     color: $b-cl;
//                 }
//             }

//             .cart-img {
//                 margin-left: 19px;
//                 overflow: hidden;
//                 position: relative;
//                 cursor: pointer;
//                 border-radius: 6px;

//                 @include max-media($bk-576) {
//                     margin-left: 12px;
//                 }

//                 &::before {
//                     content: "";
//                     position: absolute;
//                     top: 0;
//                     left: 0;
//                     width: 100%;
//                     height: 100%;
//                     background-color: rgba($color: $b-cl, $alpha: 0.5);
//                     z-index: 1;
//                     @include hidden;
//                 }

//                 &:hover {
//                     &::before {
//                         @include visible;
//                     }

//                     img {
//                         transform: scale(1.1);
//                     }
//                 }

//                 img {
//                     width: 100%;
//                     height: 100%;
//                     max-width: 100%;
//                     object-fit: cover;
//                     border-radius: 6px;
//                     transition: all .3s ease;

//                 }
//             }

//             .cart-info {
//                 margin-bottom: 2px;
//                 margin-left: 13px;

//                 @include max-media($bk-576) {
//                     margin-left: 10px;
//                 }

//                 .cart-title {
//                     transition: all .3s ease;
//                     cursor: pointer;

//                     &:hover {
//                         color: $main-cl;
//                     }
//                 }
//             }

//             .cart-price {
//                 color: rgba($color: $t-b-cl, $alpha: 0.6);
//             }
//         }

//         .cart-total {
//             display: flex;
//             justify-content: space-between;
//             margin-bottom: 20px;

//             .total-n {
//                 color: $main-cl;
//                 font-weight: 600;
//             }
//         }

//         .cart-pay {
//             .btn-link {
//                 border-radius: 6px;
//                 border: 1px solid $b-cl;
//                 background-color: white;
//                 padding: 11px;

//                 &:hover {
//                     letter-spacing: 2px;
//                 }

//                 &.btn-black {
//                     background-color: $bg-b-cl;
//                     color: $t-w-cl;
//                     margin-bottom: 8px;
//                 }

//             }
//         }
//     }
// }

.header-full {
    background-color: $g-E5E5-cl;
    transition: all .3s ease;

    @include max-media($bk-d-1200) {
        background-color: transparent;
    }
    
}

.header-mobi-cata{
    @include max-media($bk-d-1200){
        margin-left: 15px;
    }
    @include max-media($bk-d-768){
        order: 2;
        margin-left: 0;
        margin-right: 10px;
        padding-right: 10px;
        position: relative;
        &::before{
            content: '';
            width: 1px;
            height: 100%;
            background-color: rgba($color: $b-cl, $alpha: 0.25);
            position: absolute;
            top: 0;
            right: 0;
        }
    }

   
}

.header-catalog {
    width: calc(100% / 12 * 3 - 30px);
    position: relative;
    @include max-media($bk-d-1200){
        width: auto;
    }

    &.active {
        .cata-tt {
            border-radius: 10px 10px 0 0;
            @include max-media($bk-d-1200){
                border-radius: 0;
            }

        }

        .cata-content {
            // display: block;
        }
    }

    .cata-tt {
        display: flex;
        align-items: center;
        background-color: $main-cl-2;
        color: $w-cl;
        border-radius: 10px;
        height: 100%;
        padding: 10px 30px;
        cursor: pointer;
        transition: all .3s ease;
        @include max-media($bk-d-1200){
            padding: 10px 20px;
            border-radius: 0;
            height: 43px;
        }
        @include max-media($bk-d-768){
            padding: 10px;
        }

        img {
            height: max-content;
            margin-right: 10px;
        }
    }

    .cata-content {
        width: 100%;
        position: absolute;
        bottom: 0;
        transform: translateY(100%);
        background-color: $w-cl;
        padding: 15px 20px;
        border-radius: 0 0 10px 10px;
        box-shadow: 10px 10px 30px rgba($color: $b-cl, $alpha: 0.25);
        display: none;
        @include max-media($bk-d-1200){
            padding: 15px;
            position: relative;
            transform: translateY(0);
        }
        @include max-media($bk-d-768){
            // width: 200px;
            border-radius: 10px 0 10px 10px;
            right: 0;
        }
    }

    .cata-item {
        &:not(:first-child) {
            margin-top: 10px;
        }
    }

    .f-select {
        width: 100%;
        outline: none;
        border: 1px solid rgba($color: $b-cl, $alpha: 0.1);
        border-radius: 10px;
        padding: 11px 15px 12px;
        cursor: pointer;
        background-image: url('../img/svg/icon-down.svg');
        background-repeat: no-repeat;
        background-position: right 15px center;
        @include max-media($bk-d-1200){
            padding: 10px 15px;
        }
    }

    .btn-search {
        background-color: $main-cl-2;
        color: $w-cl;
        display: flex;
        align-items: center;
        justify-content: center;
        text-transform: none;
        width: auto;
        height: auto;
        padding: 10px 30px;
        font-weight: normal;
        border-radius: 10px;
        box-shadow: 10px 10px 30px rgba($color: $b-cl, $alpha: 0.16);
        margin: 15px auto 0;
        cursor: pointer;
        @include max-media($bk-d-1200){
            padding: 8px 20px;
        }

        &:hover {
            @include min-media($bk-768) {
                animation: jelly 1s;
            }
        }

        img {
            margin-right: 10px;
        }
    }
}

.header-menu {
    // @include min-media($bk-1200) {
    //     width: calc(100% / 12 * 9);
    // }

    &-inner {
        .logo-mobile {
            display: none;
            max-width: 200px;
            margin: 0 auto 20px;

            @include max-media($bk-d-1200) {
                display: block;
            }
        }
        @include min-media($bk-1200){
            display: flex;
        }
    }

    @include max-media($bk-d-1200) {
        @include pos-full-fixed;
        left: unset;
        right: 100vw;
        text-align: left;
        transition: all .2s ease;
        z-index: 998;

        &.--active {
            right: 0;
        }

        .header-menu-inner {
            position: absolute;
            top: 0;
            left: 0;
            width: 250px;
            height: 100%;
            background-color: $bg-w-cl;
            padding: 20px 0 40px;
            display: flex;
            flex-direction: column;
            z-index: 99;
        }
    }
}

.header-list {
    position: relative;
    display: flex;
    // justify-content: center;
    // align-items: center;
    @include min-media($bk-1200){
        width: calc(100% / 12 * 9);
    }

    @include max-media($bk-d-1200) {
        display: block;
        overflow-x: hidden;
        overflow-y: auto;
        height: 400px;
        @include custom-scrollbar(3px, $main-cl)
    }

    // style chung
    a {
        position: relative;
        padding: 14px 14px 14px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-weight: bold;
        @include trans(.3s);
        //color: $t-b-cl;

        //font-size: 12px;
        @include max-media($bk-d-1200) {
            padding: 10px 20px;
            border-bottom: 1px solid rgba($color: $bg-b-cl, $alpha: 0.16);
            transition: all .3s ease;
        }
    }

    // live 1
    >li {
        >a {
            line-height: 1;
            @include fz-16;
            text-transform: uppercase;

            @include min-media($bk-1200) {
                // &::before {
                //     content: "";
                //     position: absolute;
                //     bottom: 0;
                //     left: 50%;
                //     transform: translateX(-50%);
                //     width: 0;
                //     height: 1.5px;
                //     background-color: $main-cl-2;
                //     transition: all .3s ease;
                // }

                &:hover {
                    color: $main-cl-2;

                    // &::before {
                    //     width: calc(100% - 24px);
                    // }
                }
            }

            &:focus {
                @include max-media($bk-d-1200) {
                    color: $main-cl-2;
                }
            }
        }
    }

    // active live1
    .current-menu-item {
        >a {
            color: $main-cl-2;

            // &::before {
            //     width: calc(100% - 24px);
            // }
        }

        // active live 2
        .current-menu-item {
            >a {
                background-color: $main-cl-2;
                color: $w-cl;
            }
        }
    }
}

.dropdown {
    position: relative;

    //hover trên deskop
    @include min-media($bk-1200) {
        &:hover {
            >.sub-menu {
                transform: translateY(0);
                pointer-events: auto;
                @include visible;
            }

            .fa.fa-angle-down {
                pointer-events: none;
            }

            a {
                &:hover {
                    i {
                        transform: rotate(-90deg);
                    }
                }
            }
        }
    }

    // mobile
    @include max-media($bk-d-1200) {
        &:hover {
            >a {
                color: $main-cl-2;
            }
        }
    }

    .dropdown {
        &:hover {
            >a {
                background-color: $main-cl-2;
                color: $w-cl;
            }
        }
    }

    a {
        // font-weight: bold;
        // display: flex;
        // justify-content: space-between;
        // align-items: center;
        // text-transform: uppercase;
        transition: all .3s ease;
    }

    .fa.fa-angle-down {
        width: 20px;
        height: 100%;
        font-weight: bold;
        transition: transform .3s;
        text-align: center;
        font-size: 10px;
        width: auto;
        padding-left: 1px;

        // mobile
        @include max-media($bk-d-1200) {
            position: absolute;
            top: 0;
            right: 0;
            width: 40px;

            &:before {
                @include pos-mid;
            }

            transform: rotate(-90deg);

            &.--show {
                transform: rotate(0deg);
            }

        }
    }


}

.sub-menu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    min-width: 200px;
    width: max-content;
    // font-size: 12px;
    //color: $t-b-cl;
    background-color: $bg-w-cl;
    box-shadow: 10px 10px 30px rgba($color: $bg-b-cl, $alpha: 0.16);


    .sub-menu {
        top: 0;
        left: 100%;
    }

    //desktop
    @include min-media($bk-1200) {
        transition: .3s;
        transform: translateY(10px);
        pointer-events: none;
        @include hidden;
    }

    a {
        padding: 15px;

        @include min-media($bk-1200) {
            &:hover {
                color: $t-w-cl;
                background-color: $main-cl-2;
            }
        }
    }

    //mobile
    @include max-media($bk-d-1200) {
        position: relative;
        top: 0 !important;
        left: 0 !important;
        width: 100%;
        display: none;

        a {
            padding-left: 30px;
            border-bottom: 1px solid $w-cl;

            &:hover {
                color: $w-cl;
                background-color: $main-cl-2;
            }
        }

        .sub-menu a {
            padding-left: 45px;
        }

        .sub-menu .sub-menu a {
            padding-left: 60px;
        }
    }
}