.search-form {
	position: relative;
	background-color: $bg-w-cl;
	border-radius: 10px;
	.f-submit {
		position: absolute;
		bottom: 0;
		right: 0;
		width: 46px;
		height: 44px;
		background-color: transparent;
		border: 0;
		outline: none;
		font-size: 16px;
		color: $main-cl;
		cursor: pointer;
	}
}
.search-desktop{
    position: relative;
    @include max-media($bk-768){
        display: none;
    }
    .search-title{
        color: rgba($color: $b-cl, $alpha: 0.4);
        font-size: 16px;
        cursor: pointer;
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .search-form{
        position: absolute;
        top: 40px;
        right: 0;
        width: 220px;
        transition: all .3s ease;
        @include hidden;
        animation: fade-out-bottom 0.3s cubic-bezier(0.39, 0.575, 0.565, 1) both;
        // @include max-media($bk-576){
        //     display: none;
        // }
    }

    .f-control{
        border-radius: 0;
        line-height: 20px;
        height: auto;
        padding: 8px 38px 8px 15px;
        
    }
    .f-submit{
        width: 38px;
        height: 38px;
    }

    &.active{
        .search-form{
            @include visible;
            animation: fade-in-bottom 0.3s cubic-bezier(0.39, 0.575, 0.565, 1) both;
        }
    }
}

.search-mobile{
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: rgba($color: $bg-b-cl, $alpha: 0.9);
    @include flex-mid;
    @include hidden;
    @include trans(.3s);

    .search-form{
        width: 50%;
        background-color: transparent;
        margin: 0 auto;

        @include max-media($bk-d-992){
            width: 75%;
        }
        @include max-media($bk-d-768){
            width: 90%;
        }
    }

    .f-control{
        background-color: transparent;
        border: none;
        border-bottom: 2px rgba($color: $bg-w-cl, $alpha: 0.5) solid;
        border-radius: 0;
        padding: 20px 38px 20px 2px;
        @include fz-24;
        height: auto;
        color: $w-cl;
        font-weight: normal;
        
        &::placeholder{
            // font-weight: 100;
        }

        
        @include max-media($bk-d-992){
            padding-top: 15px;
            padding-bottom: 15px;
        }
        @include max-media($bk-d-768){
            padding-top: 10px;
            padding-bottom: 10px;
        }
    }

    .f-submit{
        bottom: auto;
        top: 50%;
        transform: translateY(-50%);
        right: 0;
        font-size: 20px;
        color: $w-cl;
        width: 42px;
        height: 42px;

        @include max-media($bk-d-992){
            font-size: 15px;
        }
        @include max-media($bk-d-768){
            font-size: 12px;
        }
       
    }

    &-close{
        position: absolute;
        top: 30px;
        right: 15px;
        color: $t-w-cl;
        width: 50px;
        height: 50px;
        font-size: 20px;
        line-height: 50px;
        text-align: center;
        border-radius: 6px;
        cursor: pointer;
        //background-color: rgba($color: $bg-b-cl, $alpha: 0.8);
    }

    &.--active{
        @include visible;
    }

    @include max-media($bk-d-768){
        display: flex;
    }

}