.search-form {
	position: relative;
	background-color: $bg-w-cl;
	border-radius: 10px;
	.f-submit {
		position: absolute;
		bottom: 0;
		right: 0;
		width: 46px;
		height: 44px;
		background-color: transparent;
		border: 0;
		outline: none;
		font-size: 16px;
		color: $main-cl;
		cursor: pointer;
	}
}

.header-search-mobi{
    margin: 0 10px 20px;
    // margin-bottom: 20px;
    position: relative;
    display: none;
    @include max-media($bk-d-1200){
        display: block;
    }
    .f-control{
        // border-radius: 0px;
        transition: all .3s ease;
        padding: 10px 45px 10px 15px;
        height: 40px;
        &:hover{
            border-color: $main-cl;
        }
    }

    .f-submit{
        width: 40px;
        height: 40px;
        // background-color: wheat;
        position: absolute;
        top: 0;
        right: 0;

    }

    
}