.about-g7 {
    overflow: hidden;

    .column {
        width: 50%;

        @include max-media($bk-d-992) {
            width: 100%;
        }
    }

    .img {
        border-radius: 10px;
        box-shadow: 10px 10px 30px rgba($color: $b-cl, $alpha: .25);
        overflow: hidden;
    }

    .title {
        margin-bottom: 30px;

        @include max-media($bk-d-1200) {
            margin-bottom: 15px;
        }

        @include max-media($bk-576) {
            margin-bottom: 10px;
        }
    }

    .label {
        margin-bottom: 5px;
    }

    .desc {
        line-height: 1.5;

        p {
            &:first-child {
                margin-top: 0;
            }

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

.related-news {

    // padding-top: 40px;
    .swiper-custom {
        overflow: hidden;
    }

    .swiper {
        padding: 30px 0 40px;
        margin: 0 -15px;

        @include max-media($bk-d-992) {
            margin: 0 -7.5px;
            padding: 20px 0 40px;
        }
    }

    .swiper-slide {
        width: calc(100% / 4);
        padding: 0 15px;

        @include max-media($bk-d-1200) {
            width: calc(100% / 3);
        }

        @include max-media($bk-d-992) {
            padding: 0 7.5px;
            width: 50%;
        }

        @include max-media($bk-576) {
            width: 100%;
        }
    }

    .news-inner {
        transition: all .3s ease;

        &:hover {
            box-shadow: 10px 10px 30px rgba($color: $b-cl, $alpha: .25);

            .news-title {
                color: $main-cl-2;
            }
        }
    }

    .news-title {
        transition: all .3s ease;
    }

    .news-inner {
        border-radius: 12px;
        overflow: hidden;
        border: 1px solid rgba($color: $b-cl, $alpha: .3);
    }

    .news-content {
        padding: 30px 15px 30px 30px;

        @include max-media($bk-d-1440) {
            padding: 30px 15px;
        }

        @include max-media($bk-d-1200) {
            padding: 20px 15px;
        }
    }

    .news-date {
        display: flex;
        align-items: center;
        padding-top: 12px;

        p {
            padding-left: 10px;
        }
    }
}

.rental-price {
    position: relative;
    overflow: hidden;

    display: flex;
    align-items: center;
    justify-content: space-between;
    color: $w-cl;
    flex-wrap: wrap;


    @include max-media($bk-d-768) {
        background-color: #252327;
        background-color: #0D0C0E;
    }

    .rental-wrapper {
        padding-left: calc((100vw - 1200px) / 2);
        z-index: 1;
        width: 30%;
        width: 46%;

        @include max-media($bk-1200) {
            margin-left: 15px;
            width: 40%;
            padding: 60px 0;
        }

        @include max-media($bk-d-992) {
            padding: 50px 0;
        }

        @include max-media($bk-d-768) {
            width: 100%;
            padding: 40px 0;
        }

    }

    .rental-inner {
        max-width: 470px;
    }

    .lable {
        color: #FEC700;
        margin-bottom: 5px;
    }

    .title {
        max-width: 365px;
        line-height: 1.2;
        margin-bottom: 20px;

        @include max-media($bk-576) {
            margin-bottom: 15px;
        }
    }

    .desc {
        line-height: 1.5;
        margin-bottom: 20px;
        @include line-clamp(3);
    }

    .btn-more-r {
        padding: 12px 24px;

        @include max-media($bk-d-768) {
            padding: 8px 15px;
        }

        img {
            margin-left: 25px;

            @include max-media($bk-d-1200) {
                margin-left: 10px;
            }
        }
    }

    .price-bx {
        position: absolute;
        bottom: 30px;
        left: 57%;
        transform: translate(-50%, 0);
        z-index: 1;
        @include max-media($bk-d-1900){
            bottom: 20px;
        }
        @include max-media($bk-d-1440){
            bottom: 10px;
        }
        @include max-media($bk-d-1200){
            left: 58%;
        }
        @include max-media($bk-d-992){
            left: 60%;
        }
        @include max-media($bk-d-768){
            background-color: $w-cl;
            border-radius: 100%;
            // padding: 20px;
            width: 130px;
            height: 130px;
            box-shadow: 10px 10px 30px rgba($color: $b-cl, $alpha: .25);

            @include flex-mid;
            flex-direction: column;
            left: auto;
            right: 15px;
            transform: translate(0 , -100%);
            bottom: 30px;

        }

        .price-title {
            text-transform: uppercase;
            font-style: italic;
            font-weight: bold;
            color: $b-cl;

            font-size: 36px;
            @include max-media($bk-d-1900){
                font-size: 32px;
            }

            @include max-media($bk-d-1200) {
                font-size: 30px;
            }
            @include max-media($bk-d-992){
                font-size: 28px;
            }

            @include max-media($bk-d-768) {
                font-size: 22px;
            }
        }

        .price-num {
            color: $main-cl-2;
            font-weight: bold;
            line-height: 1.2;

            font-size: 72px;

            @include max-media($bk-d-1900) {
                font-size: 60px;
            }

            @include max-media($bk-d-1200) {
                font-size: 56px;
            }

            @include max-media($bk-d-992){
                font-size: 48px;
            }

            @include max-media($bk-d-768) {
                font-size: 30px;
            }
        }
    }

    .rental-img {
        text-align: right;
        float: right;
        height: 100%;
        width: 54%;

        @include max-media($bk-d-1200) {
            // padding: 40px 0;
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            height: 100%;
        }

        @include max-media($bk-d-768) {
            position: static;
            width: 100%;
        }

        img {
            width: 100%;
            height: 100%;
            max-width: 100%;
            object-fit: cover;
        }
    }

    .bg-img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;

        @include max-media($bk-d-768) {
            display: none;
        }


        img {
            width: 100%;
            height: 100%;
            max-width: 100%;
            object-fit: cover;
        }
    }
}