.catalog-sp {
    .container-full {
        padding: 0;
    }

    .columns {
        margin: 0;

    }

    .column {
        width: calc(100% /3);
        padding: 0;

    }

    .cata-inner {
        background-position: center;
        background-repeat: no-repeat;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 60px 32px 60px 80px;
        position: relative;
        z-index: 1;

        &::before {
            content: '';
            @include pos-full;
            background: linear-gradient(79.66deg, rgba(0, 0, 0, 0.3) 22.46%, rgba(0, 0, 0, 0) 55.73%);
            z-index: -1;
        }
    }

    .label {
        margin-bottom: 3px;
    }

    .title {
        margin-bottom: 13px;
    }

    .btn-more {
        background-color: $main-cl-2;
        padding: 12px 24px;
        color: $w-cl;
        display: flex;
        align-items: center;
        font-weight: normal;
        text-transform: none;
        border-radius: 10px;
        border: none;

        &:hover {
            &::after{
                transform-origin: center left;
                transform: scale(1);
            }
        }

        &::after {
            content: '';
            transform: scaleX(0);
            transform-origin: center right;
            background-color: $main-cl;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
            transition: transform .3s;

        }

        img {
            margin-left: 25px;
        }
    }
}

.cate-home{
    .column{
        width: calc(100%/ 4);
        position: relative;
        &::before{
            content: '';
            width: 1px;
            height: 70px;
            background-color: #C4C4C4;
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
        }

        &:first-child{
            &::before{
                display: none;
            }
        }
    }

    .cate-box{
        margin: 0 auto;
        text-align: center;
        max-width: 145px;
    }

    .cate-text{
        margin-top: 10px;
    }

    .cate-img{
        img{
            margin: 0 auto;
        }
    }
}