.about-us {
    background-color: $g-F2F2-cl;
    margin: -160px 0 0;

    @include max-media($bk-d-1200) {
        margin: -100px 0 0;
    }

    @include max-media($bk-d-992) {
        margin: -70px 0 0;
    }

    @include max-media($bk-d-768) {
        margin: 0;
        padding-top: 40px;
        padding: 40px 0;
    }

    .columns {
        margin: 0;
    }

    .column {
        width: 50%;
        padding: 0;

        @include max-media($bk-d-768) {
            width: 100%;
        }
    }

    .about-wrapper {
        // border-radius: 20px 20px 0 0;
        // overflow: hidden;
        // @include max-media($bk-d-768){
        //     border-radius: 20px;
        // }
    }

    .about-ig {
        border-radius: 0 20px 0 0;
        box-shadow: 10px 10px 30px rgba($color: $b-cl, $alpha: .25);
        height: 100%;
        overflow: hidden;

        @include max-media($bk-d-768) {
            border-radius: 0 0 20px 20px;
        }

        img {
            // border-radius: 0 20px 0 0;
            height: 100%;
        }
    }

    .about-inner {
        padding: 40px 30px;
        background-color: $w-cl;
        border-radius: 20px 0 0 0;
        height: 100%;

        @include max-media($bk-d-1200) {
            padding: 30px;
        }

        @include max-media($bk-d-992) {
            padding: 20px;
        }

        @include max-media($bk-d-768) {
            border-radius: 20px 20px 0 0;
        }
    }

    .title {
        text-align: center;
        margin-bottom: 30px;

        @include max-media($bk-d-1200) {
            margin-bottom: 15px;
        }

        @include max-media($bk-d-992) {
            margin-bottom: 5px;
        }
    }

    .desc {
        margin-top: 5px;
        line-height: 1.5;
        @include fz-16;
    }

    .label {
        display: flex;
        align-items: center;

        img {
            margin-right: 9px;
        }
    }

    .about-b {
        margin-top: 20px;

        @include max-media($bk-d-1200) {
            margin-top: 15px;
        }

        @include max-media($bk-d-992) {
            margin-top: 10px;
        }
    }
}

.choos-us {
    // overflow: hidden;
    background-color: $w-cl;

    .columns {
        // align-items: center;
        flex-direction: row-reverse;
        margin: 0;
    }

    .column {
        width: 50%;
        padding: 0;

        @include max-media($bk-d-768) {
            width: 100%;
        }
    }

    .us-inner {
        // padding-left: 30px;
        padding: 40px 15px 40px 30px;
        box-shadow: 10px 10px 30px rgba($color: $b-cl, $alpha: .25);
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        // padding-right: 15px;
        @include min-media($bk-1200) {
            padding-right: calc((100vw - 1200px) / 2);
        }

        @include max-media($bk-d-992) {
            padding: 40px 15px;
        }
    }

    .title {
        margin-bottom: 30px;
        text-align: center;

        @include max-media($bk-d-1200) {
            margin-bottom: 20px;
        }

        @include max-media($bk-d-992) {
            margin-bottom: 10px;
        }
    }

    .desc {
        line-height: 1.5;
        @include fz-16;
        margin-bottom: 20px;
    }

    .us-list {
        margin: -10px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        @include max-media($bk-d-992) {
            margin: -7.5px;
        }
    }

    .us-item {
        width: 50%;
        padding: 10px;
        display: flex;
        align-items: center;

        @include max-media($bk-d-992) {
            padding: 7.5px;
        }

    }

    .us-text {
        padding-left: 10px;

        @include max-media($bk-576) {
            padding-left: 5px;
        }
    }

    .us-tt {
        @include fz-16;
        font-weight: bold;
    }

    .img {
        // width: 945px;
        position: relative;
        text-align: right;
        height: 100%;

        img {
            // position: absolute;
            // top: 0;
            // right: 0;
            // transform: translateY(-50%);         
            height: 100%;
        }
    }





}

.about-system {
    overflow: hidden;

    .swiper-custom {
        position: relative;

        &:hover {
            @include max-media($bk-d-1200) {
                .swiper-button-next , .swiper-button-prev{
                    @include visible;
                }
            }
        }


    }

    .stystem-slide {
        overflow: hidden;

    }

    .swiper {
        margin: 0 -15px;
        padding: 25px 0 40px;

        @include max-media($bk-d-992) {
            margin: 0 -7.5px;
        }
    }

    .swiper-wrapper {
        // margin: 0 -15px;
    }

    .swiper-slide {
        width: calc(100% / 3);
        padding: 0 15px;

        @include max-media($bk-d-992) {
            padding: 0 7.5px;
            width: calc(100% / 2);
        }

        @include max-media($bk-576) {
            width: 100%;
        }
    }

    .swiper-button-prev,
    .swiper-button-next {
        @include max-media($bk-d-1200) {
            @include hidden;
        }
      
    }

    .swiper-button-prev {
        left: -30px;
        transform: translate(-100%, -50%);

        @include max-media($bk-d-1440) {
            left: -10px;
        }

        @include max-media($bk-d-1200) {
            transform: translateY(-50%);
            left: 10px;
        }

        // &::after {
        //     margin-right: 3px;
        // }
    }

    .swiper-button-next {
        right: -30px;
        transform: translate(100%, -50%);

        @include max-media($bk-d-1440) {
            right: -10px;
        }

        @include max-media($bk-d-1200) {
            transform: translateY(-50%);
            right: 10px;
        }

        // &::after {
        //     margin-left: 2px;
        // }

    }

    .about-inner {
        box-shadow: 10px 10px 30px rgba($color: $b-cl, $alpha: .25);
        border-radius: 10px;
        overflow: hidden;
        padding: 30px;

        @include max-media($bk-d-1200) {
            padding: 20px;
        }

        &:hover {
            .about-title {
                color: $main-cl-2;
            }

            .about-img {
                img {
                    transform: scale(1.1);
                }
            }
        }
    }

    .about-img {
        display: block;
        margin-bottom: 30px;
        overflow: hidden;

        @include max-media($bk-d-1200) {
            margin-bottom: 20px;
        }

        img {
            transition: all .3s ease;
        }
    }

    .about-title {
        margin-bottom: 15px;
        display: block;
        transition: all .3s ease;

        @include max-media($bk-d-1200) {
            margin-bottom: 10px;
        }

    }

    .about-item {
        &:not(:first-child) {
            margin-top: 15px;

            @include max-media($bk-d-1200) {
                margin-top: 10px;
            }
        }

        display: flex;
        align-items: center;

        .about-icon {
            flex-shrink: 0;
            padding-right: 20px;
        }
    }

    .about-link {
        transition: all .3s ease;

        &:hover {
            color: $main-cl-2;
        }
    }




}